// grid value
$min-sm: 576px;
$min-med: 768px;
$min-lg: 992px;
$min-xl: 1200px;

$max-xs: 575.98px;
$max-sm: 767.98px;
$max-med: 991.98px;
$max-lg: 1199.98px;

// Colors
$primary-color: #2FCCF6;
$font-color: #1B1F23;


// Font-sizes


// Golden Ratios
$ratio-lg: 0.83;
$ratio-med: 0.64;
$ratio-sm: 0.48;
$ratio-xs: 0.35;

