.navbar {
  &, & .nav-wrapper ,
  & a.sidenav-trigger,
  & a.sidenav-trigger i {
    height: 45px;
    line-height: 45px;
  }
  &, & ul a {
    font-size: 18px;
  }
  background-color: rgba($primary-color, 0.95);
  position: relative;
  margin-top: 5px;

  .brand-logo {
    bottom: 0;

    .logo {
      width: 150px;
      height: 150px;
      background: #ffffff;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 3px;
      img {
        height: 100%;
        max-width: 100%;
      }
    }
  }
  .mail {
    &:hover{
      background: rgba(0,0,0,0.1);
    }
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid;
    padding: 0 40px;
    line-height: 33px;
    top: 0;
    bottom: 0;
    margin: 10px 5px 5px;

    i {
      display: inline-block;
      position: absolute;
      top: -14px;
      z-index: 1;
      left: 0;
      line-height: 1;
      right: 0;
      margin: auto;
      width: 24px;
    }
  }
  .modal-trigger {
    background: url("../images/login.png") center;
    padding: 0 30px;
  }
}

//.sidenav {
//  background-color: rgba($primary-color, 0.95);
//}
//
