//Start background section
.main {
  background-image: url("../images/bg_img.png");
  height: 100vh;
  background-size: cover;

  position: relative;

  .box {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;

    .invest {
      p {
        padding: 5px;
        //margin-left: 150px;
        font-size: 20px;
        line-height: 28px;
        color: $primary-color;
        @media (min-width: $min-lg) {
          padding-left: 60px;
        }
        @media (min-width: $min-xl) {
          padding-left: 45px;
        }

      }
    }
  }
  .modal {
    max-height: 100%;
    max-width: 35%;
  }
}


//End background section