//Start background section
.main {
  background-image: url("../images/bg_img.png");
  height: 100vh;
  background-size: cover;

  position: relative;

  .box {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;

    .invest {
      p {
        padding: 5px;
        //margin-left: 150px;
        font-size: 20px;
        line-height: 28px;
        color: $primary-color;
        @media (min-width: $min-lg) {
          padding-left: 60px;
        }
        @media (min-width: $min-xl) {
          padding-left: 45px;
        }

      }
    }
  }

  .modal {
    max-height: 100%;
    max-width: 480px;
    background: transparent;

    .modal-content {
      padding: 0;
    }

    .row {
      margin-bottom: 0;

      .col {
        padding: 0;
      }

    }

    .tabs {
      border-radius: 10px 10px 0 0;

      .indicator {
        height: 5px;
        background-color: #cfcfd1;;
      }

      .tab {
        height: auto;

        a {
          padding: 24px;
          background-color: rgba($form-color, 0.95);
          color: #fff;
          font-size: 25px;
        }
      }

      height: auto;
    }

    .content {
      background: #fff;
      padding: 24px !important;
    }

    form {
      .input-field {
        .prefix.active {
          color: $form-color;
        }
      }

      .btn {
        background: $form-color;
        height: auto;
        padding: 5px 40px;
      }

      .checkbox {
        padding-left: 10px;
        margin: 30px 0;
      }

      input:not([type]):focus:not([readonly]),
      input[type=text]:not(.browser-default):focus:not([readonly]),
      input[type=password]:not(.browser-default):focus:not([readonly]),
      input[type=email]:not(.browser-default):focus:not([readonly]),
      input[type=url]:not(.browser-default):focus:not([readonly]),
      input[type=time]:not(.browser-default):focus:not([readonly]),
      input[type=date]:not(.browser-default):focus:not([readonly]),
      input[type=datetime]:not(.browser-default):focus:not([readonly]),
      input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
      input[type=tel]:not(.browser-default):focus:not([readonly]),
      input[type=number]:not(.browser-default):focus:not([readonly]),
      input[type=search]:not(.browser-default):focus:not([readonly]),
      textarea.materialize-textarea:focus:not([readonly]) {
        box-shadow: 0 1px 0 0 $form-color;
        border-bottom: 1px solid $form-color;
      }

      [type="checkbox"]:checked+span:not(.lever):before {

        border-right: 2px solid $form-color;
        border-bottom: 2px solid $form-color;
      }
    }
  }
}


//End background section