<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/main-style.css">

  <title>Landing Page</title>

</head>

<body>

  <!--  start background section-->
  <section class="main">


    <div class="box">
      <div class="white invest">
        <p class="container">
          ????? is an alternative investment firm opportunistically investing in private equity as well as debt
          products.
          The focus is on principal investments in Europe and the Middle East with a focus on real estate and later
          stage private equity.
        </p>
      </div>

      <!--    start navbar-->
      <nav class="navbar">
        <div class="nav-wrapper container-fluid">
          <a href="#" class="brand-logo hide-on-med-and-down">
            <div class="logo">
              <img src="images/logo3.png" alt="">
            </div>
          </a>
          <a href="#" class="brand-logo show-on-medium-and-down hide-on-med-and-up">
            LOGO
          </a>

          <a href="mailto:Office@company.com" class="hide-on-med-and-down mail">
            <i class="material-icons">email</i>
            Office@company.com
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a class="modal-trigger" href="#sidenav">Log In</a>
            </li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li>
          <img src="images/side.png" />
        </li>
        <li>
          <a href="mailto:Office@company.com">Office@company.com</a>
        </li>
        <li>
          <a class="modal-trigger" href="#sidenav">Log In</a>
        </li>
      </ul>
      <!--    End navbar-->
    </div>

  </section>
  <!--  End background section-->

  <!-- Modal Structure -->
  <div id="sidenav" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6"><a href="#test1">Log In</a></li>
            <li class="tab col s6"><a href="#test2">Register</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">Log In</div>
        <div id="test2" class="col s12">Register</div>
      </div>
    </div>
  </div>


  <!--JavaScript at end of body for optimized loading-->
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/app.min.js"></script>
</body>
</html>