<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/main-style.css">

  <title>Landing Page</title>

</head>

<body>

  <!--  start background section-->
  <section class="main">


    <div class="box">
      <div class="white invest">
        <p class="container">
          ????? is an alternative investment firm opportunistically investing in private equity as well as debt
          products.
          The focus is on principal investments in Europe and the Middle East with a focus on real estate and later
          stage private equity.
        </p>
      </div>

      <!--    start navbar-->
      <nav class="navbar">
        <div class="nav-wrapper container-fluid">
          <a href="#" class="brand-logo hide-on-med-and-down">
            <div class="logo z-depth-3">
<!--              <img src="images/logo3.png" alt="">-->
              <p>logo</p>
            </div>
          </a>
          <a href="#" class="brand-logo show-on-medium-and-down hide-on-med-and-up">
            LOGO
          </a>

          <a href="mailto:Office@company.com" class="hide-on-med-and-down mail">
            <i class="material-icons">email</i>
            Office@company.com
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a class="modal-trigger" href="#sidenav">Log In</a>
            </li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li>
          <img src="images/side.png" />
        </li>
        <li>
          <a href="mailto:Office@company.com">Office@company.com</a>
        </li>
        <li>
          <a class="modal-trigger" href="#sidenav">Log In</a>
        </li>
      </ul>
      <!--    End navbar-->
    </div>


    <!-- Modal Structure -->
    <div id="sidenav" class="modal">
      <div class="modal-content">

        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6">
                <a href="#login" class="active">Log In</a>
              </li>

              <li class="tab col s6">
                <a href="#register">Register</a>
              </li>
            </ul>
          </div>

          <div id="login" class="col s12 content">
            <form action="">
              <div class="input-field">
                <i class="material-icons prefix">email</i>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
              </div>
              <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
              </div>
              <div class="checkbox">
                <label for="remeberme">
                  <input type="checkbox" id="remeberme" name="remeberme">
                  <span>Remember Me</span>
                </label>
              </div>
              <div class="center">
                <button type="submit" class="btn">Log In</button>
              </div>
            </form>
          </div>

          <div id="register" class="col s12 content">
            <form action="">
              <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <label for="fname">
                  First Name
                </label>
                <input type="text" name="fname" id="fname">
              </div>
              <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <label for="lsname">Last Name</label>
                <input type="text" name="lsname" id="lsname">
              </div>
              <div class="input-field">
                <i class="material-icons prefix">mail</i>
                <label for="email2">Email</label>
                <input type="email" name="email" id="email2">
              </div>
              <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <label for="password2">Password</label>
                <input type="password" name="password" id="password2">
              </div>
              <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" name="confirmpassword" id="confirmpassword">
              </div>

              <div class="center">
                <button type="submit" class="btn">Register</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--  End background section-->

  <!--JavaScript at end of body for optimized loading-->
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/app.min.js"></script>
</body>
</html>