/*Global Settings*/
@font-face {
  src: url("../fonts/EngraversGothic.TTF");
  font-family: 'EngraversGothic';
}

body {
  font-family: 'EngraversGothic', sans-serif;
}

.container-fluid {
  width: 90%;
  margin: auto;
}